/* 
    COUSTOM MODALS
*/

.confirm-modal {
  @apply text-red-600 text-xl;
}

/* 
    COUSTOM BUTTONS
*/

.btn {
  min-width: 110px;
  max-width: 110px;
  @apply py-2 px-3 text-center duration-150 hover:scale-105 hover:bg-white hover:border hover:border-red-500 hover:text-red-500;
  @apply text-white rounded-md;
}

.expand-collapse-in {
  animation: expand-collapse-anim-in 0.5s;
}

.expand-collapse-out {
  animation: expand-collapse-anim-out 0.5s;
}

@keyframes expand-collapse-anim-in {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes expand-collapse-anim-out {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

.submenu {
  max-height: 0;
  padding: 1px;
  overflow: hidden;
}

.submenuitem {
  width: 172px;
  @apply justify-center;
}

.submenu-anim {
  max-height: 0px;
  transition: all 0.1s ease-in-out;
}

@keyframes submenu-anim-key {
  from {
    height: 0px;
  }

  to {
    height: auto;
  }
}

.slide-resume {
  bottom: 0px;
  @apply bg-black opacity-50 text-white p-2;
}

.navbar {
  min-height: 162px;
}

.main {
  background-color: #f2eceb;
}

.footer-group {
  @apply md:border-none border-b border-dblack900 py-2 my-3;
}

.asides {
  top: 200px;
}

.sub-item {
  max-height: 0px;
  overflow: hidden;
}

/* INFO STYLES */

.info-title {
  @apply bg-red900 p-2 text-white;
}
.body-info {
  @apply bg-white p-5;
}

.one-stats:hover div {
  opacity: 0.8;
}

.link {
  @apply text-blue-500 hover:underline;
}

.mob-submenu-out {
  max-height: 0px;
  max-width: 0px;
  overflow: hidden;
  animation: tessst 2s ease-in-out;
}

.mob-submenu-in {
  max-height: fit-content;
  animation: tessst 2s ease-in-out;
}

@keyframes tessst {
  from {
    max-height: 0px;
  }

  to {
    max-height: fit-content;
  }
}

.sub-menu-item {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
